<br />
<main role="main">
    <div class="jumbotron alert-primary">
        <h1 class="display-4">Hello, world! I am Full Stack .NET Developer </h1>
        <p class="lead">This is a simple Angular Project is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges.</p>
        <hr class="my-4">
        <p>Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
        <p class="lead">
          <a class="btn btn-danger btn-lg float-right" href="/" role="button">Learn more</a>
        </p>
      </div>
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://cdn-images-1.medium.com/max/1600/1*dxawCwfllIh8ljUcRtwnXg.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Angular Forms</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://uploads.toptal.io/blog/image/125413/toptal-blog-image-1518523133236-d2bc894552c77f954f1e5ce48da6604d.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Angular Routing</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="https://i.ytimg.com/vi/YkvqLNcJz3Y/maxresdefault.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Angular CLI</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading.</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://www.levelaccess.com/wp-content/uploads/2015/08/angular.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it's that good.</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQibCvi-N0tBcLnp4qRBOw9rKaliXg1auMzlj-SM_TccO2KbkUaNA" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="http://ionicinarabic.com/blog/wp-content/uploads/2017/12/AngularJS-HTML5-CSS3-JavaScript-Demo-Session-TrainersGlobe_1.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#" class="btn btn-success">Back to top</a></p>
      <p class="text-center">&copy; Elriany 2019. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    </div>
  </main>
